.some-nested-class {
  /* Default styles when not inheriting from parent */
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
} 

.some-locally-scoped-class {
  font-weight: bold;
  color: rgb(31, 30, 30);
  background-color: rgb(200, 200, 204);
}