.some-locally-scoped-class {
  font-weight: bold;
  color: red;
  background-color: blue;
}

/* This should not be applied as nested-class is in descendant component */
.some-nested-class {
  font-weight: bold;
}