.some-locally-scoped-class {
  font-weight: 700;
  color: rgb(31, 30, 30);
  background-color: rgb(200, 200, 204);
}

/* These styles will be inherited by components with style-propagate="true" */
.some-nested-class {
  font-weight: 700;
  color: rgb(31, 30, 30);
  background-color: rgb(200, 200, 204);
}